body{
	font-family: Calibri;
}

div{
	text-align:center;
}

input, select{
	margin:0.2em;
}

h1,h3,legend{
	font-family:Segoe UI, Segoe, Optima, Candara, Calibri, Arial, sans-serif;
}

h1{
	color: #B72304;
	font-size: 3em;
	letter-spacing: 0.3em;
	word-spacing: 1.0em;
}

fieldset{
	border-color: darkblue;
	border-width: 3px;
	border-radius: 24px;
	font-weight:bold;
}

legend{
	color: orange;
}

td > input:hover, select:hover{
	border-color: darkblue;
}

td > input:focus{
	background-color: #FEF9E7;
}

.campo:hover{
	border-color: darkblue;
}

#registrar, #reset{
	padding: 0.5em;
	margin: 0.5em;
}

#terminos{
	margin: 1em;
}

td > label{
	padding-right: 3em;
}